
<%- include('Header', {title: title}); %>
<%- include('PublicHeader', {loggedIn: loggedIn}); %>

    <div class="container bg-gray" style="background-image: 'https://www.linkpicture.com/q/Assignmetn-Shodwe.png'">
       <div class="d-flex justify-content-center mt-3">
         <h3>Welcome to our platform.</h3>
       </div>

       <div class="bg-light p-3">
            <p>
                This application is developed by Saravjeet Singh for the learning purpose of <br/>
                <div class="p-1">
                    <p>
                        <a href="https://nodejs.org/en">Node JS</a>
                        (or more formally Node.js) is an open-source, cross-platform runtime environment that allows developers to create all kinds of server-side tools and applications in JavaScript. The runtime is intended for use outside of a browser context (i.e. running directly on a computer or server OS). As such, the environment omits browser-specific JavaScript APIs and adds support for more traditional OS APIs including HTTP and file system libraries.
                    </p>
                </div>
                <div class="p-1">
                    <a href="https://expressjs.com/">Express JS</a>
                    <p>
                        In this first Express article we answer the questions "What is Node?" and "What is Express?", and give you an overview of what makes the Express web framework special. We'll outline the main features, and show you some of the main building blocks of an Express application (although at this point you won't yet have a development environment in which to test it).
                    </p>
                </div>
                
                <div>
                    <a href="https://en.wikipedia.org/wiki/Social_login">Social API Login</a><br/>
                    <p>
                        Social login is a form of single sign-on using existing information from a social networking service such as Facebook, Twitter or Google, to sign into a third party website instead of creating a new login account specifically for that website. It is designed to simplify logins for end users as well as provide more and more reliable demographic information to web developers.
                    </p>
                </div>

                <div>
                    <a href="https://www.npmjs.com/package/nodemon">Nodemon</a><br/>
                    <p>
                        nodemon is a tool that helps develop Node.js based applications by automatically restarting the node application when file changes in the directory are detected.

nodemon does not require any additional changes to your code or method of development. nodemon is a replacement wrapper for node. To use nodemon, replace the word node on the command line when executing your script.
                    </p>
                </div>
                
            </p>
       </div>

       
   </div>
    </div>
<%- include('Footer')  %>